@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "pastel";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98.462% 0.001 247.838);
  --color-base-300: oklch(92.462% 0.001 247.838);
  --color-base-content: oklch(20% 0 0);
  --color-primary: oklch(62% 0.214 259.815);
  --color-primary-content: oklch(97% 0.014 254.604);
  --color-secondary: oklch(89% 0.196 126.665);
  --color-secondary-content: oklch(45% 0.124 130.933);
  --color-accent: oklch(84% 0.143 164.978);
  --color-accent-content: oklch(44% 0.119 151.328);
  --color-neutral: oklch(55% 0.046 257.417);
  --color-neutral-content: oklch(92% 0.013 255.508);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(97% 0.013 236.62);
  --color-success: oklch(79% 0.209 151.711);
  --color-success-content: oklch(98% 0.031 120.757);
  --color-warning: oklch(83% 0.128 66.29);
  --color-warning-content: oklch(98% 0.016 73.684);
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 2px;
  --depth: 0;
  --noise: 0;
}

/* Remove dashed right border from stat components */
.stat {
  border-inline-end-width: 0 !important;
}
